:root{
    --dark-red: #d82f2f;
    --light-red: #f7a6a6;
    --gray: #e9ecef;
    --text-gray: #8f8f8f;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
body{
    min-height: 100vh;
    display: grid;
    place-items: center;
}
.hidden{
    display: none;
}
.container{
    width: 90%;
    max-width: 500px;
    margin: auto;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.title h1 {
    font-size: 1.5rem;
    text-align: center;
}   
.title img {
    width: 35px;
}
select, .content, button {
    width: 100%;
    max-width: 355px;
    margin: 12px auto;
    border-radius: 8px;
    padding: 10px;
    display: block;
}
button, select, h3{
    font-weight: 500;
}
.container select{
    cursor: pointer;
    border: 1px solid black;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
}
.founded-data .content{
    background-color: var(--gray);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    padding-top: 10px;
    border: 1px solid #ccc;
}
.content.init,
.content.error
{
    padding: 50px;
    text-align: center;
}
.content.error{
    background-color: var(--light-red);
    padding: 50px ;
    text-align: center;
}

.content h3{
    margin-bottom: 5px;
    font-size: 1.2rem;
}
.content p {
    color: var(--text-gray);
    font-size: 0.9rem;
    margin-bottom: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.content .repo-info{
    display: flex;
    gap: 15px;
    font-size: 0.80rem;
    color: #6c757d;
}
.repo-info .language{
    position: relative;
    padding-left: 9px;
}
.language::after{
    position: absolute;
    content: '';
    top: 7px;
    left: 0;
    width: 6px;
    height: 6px;
    background-color: #555;
    border-radius: 50%;
}
button {
    background-color: #222;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 0.9rem;
    transition: scale 0.3s;
}
button:active{
    scale: 0.98;
}
button.retry-btn{
    background-color: var(--dark-red);
}